<div class="app-nav">
  <nz-layout>
    <nz-header class="header-reset">
      <div class="logo" (click)="toNav()">
        <img src="assets/images/reading-hope.svg" alt="">
      </div>
      <ul class="menu-reset" nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['home']">阅乐</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['games']" >休闲</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['release_article']">写文章</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['dynamic']">发动态</a>
        </li>
        <li class="reset-menu-item" nz-menu-item>
          <nz-input-group class="reset-search" nzSearch [nzAddOnAfter]="suffixIconButton">
            <input #search type="text" nz-input placeholder="文章/标签/用户" />
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" [routerLink]="['search']" [queryParams]="{ query:  search.value}" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
          </nz-input-group>
        </li>
        <li class="reset-menu-item message" nz-menu-item>
          <span>
            <i nz-icon nzType="bell" nzTheme="fill"></i>
          </span>
        </li>
        <li nz-submenu [nzTitle]="menuTitle">
          <<ng-template #menuTitle>
            <a [routerLink]="['user', user?.user?._id]">{{ user?.user?.userName }}</a>
            <nz-avatar nzIcon="user" [nzSrc]="baseUrl + user?.user?.headerImg"></nz-avatar>
          </ng-template>

          <ul>
            <li nz-menu-item nzMatchRouter>  <i nz-icon nzType="edit"></i><a  [routerLink]="['release_article']">发文章</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="border"></i><a [routerLink]="['e']">草稿</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="home"></i><a  [routerLink]="['user', user?.user?._id]">我的主页</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="tag"></i><a [routerLink]="['d']">标签管理</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="star"></i><a [routerLink]="['c']">我的收藏</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="bg-colors"></i><a [routerLink]="['b']">主题设置</a></li>
            <li nzMatchRouter nz-menu-item>  <i nz-icon nzType="logout"></i><a [routerLink]="['a']">退出登录</a></li>
          </ul>


          <!-- <img [src]="baseUrl + user?.headerImg" alt=""> -->
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['tag/subscribe']">标签管理</a>
        </li>
      </ul>
    </nz-header>

    <div class="app-main-content">
      <nz-content >
        <router-outlet></router-outlet>
      </nz-content>
    </div>
</nz-layout>
</div>


